@import "tailwindcss";

:root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@theme {
  --color-*: initial;
  --color-offWhite: #dbdada;
  --color-white: #fff;
  --color-navy: #1c2e4a;
  --color-lightBlue: #e6f3ff;
  --color-lightPink: #ffe6e6;
  --color-gray: #bbb;
  --color-darkGray: #333;

  --container-*: initial;

  --radius-*: initial;
  --radius-standard: 1rem;

  --text-*: initial;
}
