/* .header-image{
    width: 100%;
    height: 50vh;
}

.divider{
    background-color: #1c2e4a;
    height: 20vh;
    font-size: 25px;
    font-weight:600;
}

.member-image{
    height: 300px;
    width: 250px;
}

.text-bold{
    font-weight: bold;
} */
